body {
    margin: 24px;
    background-color: rgb(250, 250, 250);
}

.title--main {
    // font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20vw;
    font-style: italic;
    line-height: 0.8;
}

.txt {
    width: 45vw;
    margin-top: 36px;
    font-family: 'Okomito', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.3;
    @media screen and (max-width: 1100px) {
        width: 55vw;
    }
    @media screen and (max-width: 800px) {
        width: 65vw;
    }
    @media screen and (max-width: 600px) {
        width: 85vw;
    }
}

.txt--highlight {
    font-size: 1.1rem;
    text-transform: initial;
    font-family: 'Migra', 'Times New Roman', Times, serif;
    // color: #ff9408;
}

.txt--second {
    margin-top: 46px;
    margin-bottom: 200px;
}

.link {
    color: black;
    text-decoration: underline;
    // color: #ff9408;
    &:hover {
        font-family: 'Migra', 'Times New Roman', Times, serif;
    }
}

a,
a:visited,
a:focus {
    color: black;
}

a {
    text-decoration: underline;
}

li {
    margin-right: 16px;
    display: inline;
}

.rotate {
    display: inline-block;
    transform: rotate(90deg);
}